@import './base.css';

input {
  padding: 0.6rem 0.8rem;
  outline: none;
  border: none;
  border: 1px solid #e5e7eb;
  border-radius: 0.5rem;
  transition: all 0.1s ease-in-out;

  &:focus {
    border-color: var(--primary-color);
    box-shadow: var(--primary-neo-color) 0 0 0 2px;
  }
}

button {
  border: none;
  background-color: transparent;
}

:root {
  --primary-color: #4f46e5;
  --primary-neo-color: #4e46e546;
}